{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h1>Settings</h1>
  <div class="d-flex flex-wrap">
    {% include 'settings/_sidebar.html' %}
    <div class="d-flex flex-grow-1">
      <div class="container-fluid">
        <form action="" method="post">
          {{ add_form.hidden_tag() }}
          <!-- Add Roku Section -->
          <div class="mb-3">            
            <h3>Add Roku</h3>
            <hr>
            {{ add_form.new_ip.label(class='form-label') }} <br>
            {{ add_form.new_ip(class='form-control', placeholder='IP Address') }}
            {% for error in add_form.new_ip.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="mb-5">
            {{ add_form.add_roku_submit(class='btn btn-primary') }}
          </div>
        </form>
        <div class="mb-3">
          <h3>Location</h3>
          <hr>
          stuff
        </div>
        <!-- Delete Roku Section -->
        <form action="#" method="post">
          {{ delete_form.hidden_tag() }}
          <div class="mb-3">
            <h3>Delete Roku</h3>
            <hr>
            {{ delete_form.delete_roku_list.label(class='form-label') }} <br>
            {{ delete_form.delete_roku_list(class='form-select') }}
          </div>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger mb-5" data-bs-toggle="modal" data-bs-target="#ConfirmModal">
            Delete
          </button>

          <!-- Modal -->
          <div class="modal fade" id="ConfirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ConfirmModalLabel">Confirm Deletion</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Confirm removing selected roku from the database.
                </div>
                <div class="modal-footer">
                  {{ delete_form.delete_roku_submit(class='btn btn-danger') }}
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $('#sb-roku').addClass('active')
</script>
<script type=text/javascript src="{{ url_for('static', filename='settings/roku_settings.js') }}"></script>

{% endblock %}