{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>This is the Dashboard page.</h1>
    <div>
        Here is the central hub to be redirected to all the other functions within the application.
        <br>
        <h3>Items found within page</h3>
        <ul>
            <li>Spotify card</li>
            <li>Weather forcast card</li>
            <li>Thermostat Card</li>
            <li>Links to other functions</li>
            <li>Internal house temperatures</li>
        </ul>
    </div>
</div>

{% endblock %}