{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>This is the settings page.</h1>
    <p>
        This page could be based on the github settings page.
    </p>
    <p>
        Setup a two column page with the categories on the left and the settings on the right.
    </p>
    <p>
        <a href="{{ url_for('welcome') }}" class="text-decoration-none">
            <button class="btn btn-primary"><i class="bi bi-shield-lock"></i> Password </button>
        </a>
    </p>
</div>

{% endblock %}